body {
    margin: 0;
    padding: 0;
    background-color: #333;
}

body.dark-mode {
    background-color: #f0f0f0;
}

.box {
    height: 650px;
    width: 500px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.box.dark-mode {
    background-color: #056450;
}

.title {
    color: white;
    margin: 10px; 
    padding-top: 20px;
    font-family: 'Arial', sans-serif;
}

.tabs {
    display: flex;
    margin: 10px;
}

.tablinks {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
    border-radius: 10px;
}

.tablinks.dark-mode {
    background-color: #4CAF50;
}

.tablinks:hover {
    background-color: #555;
}

.label {
    color: white;
    margin: 20px 10px 10px 10px;
    font-weight: 500;
    font-family: 'Arial', sans-serif;
}

.input {
    width: 90%;
    padding: 10px;
    margin: 5px 10px;
    font-size: 16px;
    border-radius: 10px;
}

.length {
    display: none;
}

.weight {
    display: none;
}

.temperature {
    display: none;
}

.convert-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 10px;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 10px;
}

.convert-btn.dark-mode{
    background-color: #333;
    color: white;
}

.result {
    color: white;
    margin: 20px 10px;
    font-size: 25px;
    font-family: 'Arial', sans-serif;
}

.select-input {
    width: 95%;
    padding: 10px;
    margin: 5px 10px;
    font-size: 16px;
    border-radius: 10px;
}

.dark-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.image {
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: cubic-bezier(1, 0.165, 0.82, 0.075) 0.6s;
    filter: invert();
}

.image.dark-mode {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
    transform: rotate(180deg);
    filter: invert(0);
}